<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <strong class="navbar-brand" href="javascript:void(0)">OnLine PDTR</strong>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="navigation-contact">
                    <a [routerLink]="['/contact-us']" class="contact-us">
                        <i class="fa fa-fw fa-phone"></i>
                        <i class="fa fa-fw fa-envelope"></i>&nbsp;Contact Us</a>
                </li>
                <li>
                    <a class="contact-us">About Us</a>
                </li>
                <li>
                    <a class="contact-us">About PRODDATUR</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
