<div [@routerTransition]>
    <app-page-header [heading]="'Fashion at Proddatur'" [icon]="'fa-table'"></app-page-header>
    <div class="fashion-container">
        <div class="row f-tile">
            <div class="col-sm-4 col-xs-12"> 
                <img  class="img-thumbnail" alt="" src="assets/images/sunny-logo.jpg">
            </div>
            <div class="col-sm-8 col-xs-12"> 
                <h1 class="shop-name">Sunny Fashions</h1>
                <br>
                <span>18/565,Opposite to RTC Bus stand, Mydukur Road, Proddatur,</span>
                <br>
                <span>Kadapa-516360, Andhra Pradesh, India</span>
            </div>
        </div>
    </div>
</div>
