<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>OnLine PDTR</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
        <br>
            <br>
            <br>
            <br>

            <p>
                Access everything you need in Proddatur at one place through OnLinePDTR.com, 
            </p>
            <p>Buy Jewellery at Proddatur, find the best Restaurants and food points, Cloth showrooms,  book Movie tickets, browse for OLX in Proddatur at OnLinePDTR.com. </p>
            <p>Looking for the Community halls for your Marriages and events, check our best Community centres in Proddatur</p>
            <p>Checkout for Parcel & Courier service at Online Proddatur </p>

            <p>Busetty Jewellers, Tanikante Jewellers, Sunny Fashions, Pooja Mushrooms, Tripti Bakery, Nirmal Bakery, Royal County</p>
            <p>Vivekananda Cloth Market, Balaji Cloth Market, Vasthra Bharathi Proddatur</p>
            <p>Proddatur MLA, Dussehra, Subramanyam Dosa corner, Tangedupalli sweets, </p>
    <div>
</div>
     <div>
            <h1>Proddatur Google Map</h1>

            <div id="map" style="width:40px;height:40px;background:yellow"></div>

            <script>
            function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(14.7640142, 78.5231542),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
                </div>
     </div>
</div>
