<div class="about-pdtr">
    <h2 class="page-header">
            About PRODDATUR
    </h2>
    <div class="description col-sm-12">
        <div class="col-sm-12">
            <p>
                Proddutur is a town/city in Kadapa district of the Indian state of Andhra Pradesh.It is located on the banks of Penna River. The city is a municipality and also the mandal headquarters of Proddatur mandal.
            </p>
            <p>
                Proddatur is the second largest town in the Kadapa district of Andhra Pradesh state in India. It is renowned for its gold and cotton business. It is also named as second Mysore for Dussehra Navarathri celebrations.
            </p>
            <br>
            <strong>
                Demographics:
            </strong>
            <br>
            <p>
                With a population of more than 200,000 people, it is a grade I municipal corporation located at a distance of 51 kilometres (32 mi) from Kadapa town.
            </p>
            <p>
                As of 2011 census, the city had a population of 162,816. The total population constitute, 81,368 males and 81,448 females —a sex ratio of 1001 females per 1000 males, higher than the national average of 940 per 1000.15,516 children are in the age group of 0–6 years, of which 7,999 are boys and 7,517 are girls—a ratio of 940 per 1000. The average literacy rate stands at 78.08% (male 86.02%; female 70.20%) with 115,011 literates, significantly higher than the national average of 73.00%.
            </p>
            <p>
                The Urban agglomeration had a population of 217,895, of which males constitute 108,986, females constitute 108,909 —a sex ratio of 999 females per 1000 males and 21,616 are in the age group of 0–6 years. There are a total of 147,156 literates with an average literacy rate of 74.97%.
            </p>
            <br>
            <strong>
                Origins of the town's name:-
            </strong>
            <p>
            The origins of the town's name is not definitely known, but one possible origin of the town's name is from the Sanskrit Bhradhna-Puri.     
            </p>
            <p>
                Another possible origin can be traced to the great Indian epic Ramayana. The legend states that Lord Rama was on his way back to his homeland Ayodhya from Lanka after killing the demon Ravana. At the onset of dusk, Lord Rama decides to halt on the river bed of the river Penna. At sunset (which translates to poddu in Telugu, the local language) he asked his wife Sita to find a place for them to rest for the night. It is believed that this placed was henceforth called Poddutur or Proddatur.
            </p>
            <p>
                Another possible origin can be traced to the great Indian epic Ramayana. The legend states that Lord Rama was on his way back to his homeland Ayodhya from Lanka after killing the demon Ravana. At the onset of dusk, Lord Rama decides to halt on the river bed of the river Penna. At sunset (which translates to poddu in Telugu, the local language) he asked his wife Sita to find a place for them to rest for the night. It is believed that this placed was henceforth called Poddutur or Proddatur.
            </p>
            <p>
                Yet a third possible origin relates to the sunflowers which used to be quite common in the area. Sunflowers turn to face the sun during the day, and in Telugu, "Poddu  irugudu" means tuning the face around in day time, which morphed into "Proddatur".
            </p>
            <br>
            <strong>
                Tourist Places near Proddatur:
            </strong>
            <p>
                Proddatur is surrounded with many tourism places, few of them are Gandikota Fort, Belum Caves, Pushpagiri Temple,Ontimitta , Ahobilam, Mahanandi.
            </p>
        </div>
    </div>
</div>