.food-container{

    .j-tile{
        border:2px solid gray;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .shop-name{
        margin-top: 20px;
        font-family: MyriadPro-Regular,'Myriad Pro Regular',MyriadPro,'Myriad Pro',Helvetica,Arial,sans-serif;
    }
}
.food-container .rc-booking{
    border:2px solid gray;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

}