<div>
    <app-page-header [heading]="'Jewellery at Proddatur'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="jewellary-container">
        <div class="row j-tile">
            <div class="col-sm-4 col-xs-12"> 
                <img  class="img-thumbnail" alt="" src="assets/images/tj-logo.jpg">
            </div>
            <div class="col-sm-8 col-xs-12"> 
                <h1 class="shop-name">Tanikante Jewellers</h1>
                <br>
                <span>18/565, Main Bazaar Road, Proddatur,</span>
                <br>
                <span>Kadapa-516360, Andhra Pradesh, India</span>
            </div>
        </div>
        <div class="row j-tile">
            <div class="col-sm-4 col-xs-12"> 
                <img  class="img-thumbnail" alt="" src="assets/images/bj-logo.jpg">
            </div>
            <div class="col-sm-8 col-xs-12"> 
                <h1 class="shop-name">Busetty Jewellers</h1>
                <br>
                <span>18/565, Main Bazaar Road Proddatur, Proddatur Bazaar,</span>
                <br>
                <span>Kadapa-516360, Andhra Pradesh, India</span>
            </div>
        </div>
    </div>
</div>
