<div class="row">

<h2 class="page-header">
    Contact Us
</h2>

    <div class="col-sm-8">
        <div>
        </div>
    </div>
    <div class=" col-sm-4 contact-info">
                <h3>Contact</h3>
                <div class="address">
                    <i class="fa fa-home"></i>
                    <p>
                        Sy No 296/1 &amp; 296/2, Bollavaram (near Chowtapalli), Proddatur - 516360, YSR (Kadapa)
                        dist, AP.</p>
                </div>
                <!-- /address -->
                <div class="phone">
                    <i class="fa fa-phone"></i>
                    <p>
                        +91 905 255 5011
                        <br>
                        +91 949 088 1440</p>
                </div>
                <!-- /phone -->
                <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <p>
                        08.00-20.00 hours<br>
                        Monday - Sunday</p>
                </div>
                <!-- /time -->
                <div class="email">
                    <i class="fa fa-envelope-o"></i>
                    <p>
                        <a href="mailto:info@onlinepdtr.com" target="_blank">info@onlinepdtr.com</a></p>
                </div>
                <!-- /email -->
            </div>
</div>