.contact-info{
    margin-left: auto;
     i {
        position: absolute;
        padding-top: 15px;
        font-size: 23px;
        left: 0px;
        color: #999999;
    }
     p {
        font-size: 0.85em;
        padding-left: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0px;
        // text-align: right;
    }
}